/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner h1 {
  margin-bottom: 0.5rem;
}

.heroBanner :global(.hero__subtitle) {
  margin-top: 5rem;
  font-weight: 600;
}

.taglineExtended {
  font-size: 1.1rem;
  margin-top: 1rem;
  opacity: 0.9;
  font-weight: 600;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
