name: Deploy Docusaurus site

on:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: npm run generate:packages 
      - run: npm run build
      - run: npm run deploy
