name: Deploy Docusaurus site

on:
  push:
    branches: [main]
  release:
    types: [published]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm install
      - run: node scripts/generate-packages.js 
      - run: npm run build

      - name: Configure Git identity
        run: |
          git config --global user.name "juanpablomaggi"
          git config --global user.email "juanpablomaggiv@gmail.com"

      - run: npm run deploy
        env:
          GIT_USER: juanpablomaggi
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
          DEPLOYMENT_BRANCH: main